*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.SSS
*.bak
*.log
*.tmp
*.zip
*.iml
.idea
*.class
*diff*.txt
*~
.DS_Store
.classpath
.metadata
.project
.pydevproject
.repo
.settings
.swp
\#*
ActionBarSherlock/lint.xml

# Nested git repositories:
/android-crosspromo/
/android-deeplink-lib/
/android-gallery-grid/
/android-li-actionbarsherlock/
/android-li-pulltorefresh/
/android-linkedinauth/
/android-rich-editor/
/android-support-network/
/android-tracking/
/androidperf/

# build products:
/test/AltoTest/build/
/test/AppiumTests/

# caches
/caches/

cookie-issue.txt
err.txt
errors.txt
gen
local.properties
logcat*
metrics*.spec
metricsDataTestRun
proguard-project.txt
robotium-*javadoc.jar
replay
run*.txt
run*.xml
snapshot*.txt
strumenti*.txt
temp.txt
temp.xml
test.xml
testRun
testoutput.xml
throttle*.txt
tmp
.buildpath
temp
test/AltoTest/TestDefinitions/Experimental.xml
test/AltoTest/lint.xml
ActionBarSherlock/build
LinkedInApp/build
LinkedInApp/src/com/linkedin/android/LIGeneratedConstants.java
LinkedInApp/bin
PullToRefresh/build
.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
generated_source
build/
config

# Sphinx
docs/sphinx/_build/**
docs/sphinx/*.pyc
docs/sphinx/sphinx_rtd_theme
docs/sphinx/*.swp

*.ipr
*.iws

# ProfileCacheUtilsTest attempts to delete this file but is never successful
LinkedInApp/null_profile_cache_encrypt.json

